@{
    ViewBag.Title = "Scuad - Portal";
}

@model Scuad.Models.Users
@using (Html.BeginForm("Login", "LoginUser", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <h1>Login - Portal</h1>
    <hr />
    <p>Insira seu usuário e senha abaixo:</p>
    <div class="input-group mb-3">
        @Html.TextBoxFor(model => model.UserName, new { @class="form-control", placeholder="Login"})
    </div>
    <div class="input-group mb-3" style="margin-top: 10px;">
        @Html.TextBoxFor(model => model.Password, new { @class="form-control", type="password", placeholder="Senha"})
    </div>
    <div style="color:red">
        @ViewBag.Error
    </div>
    <input type="submit" class="btn btn-primary" style="margin-top: 10px;margin-left:5rem;" value="Entrar">
}
<style>
    .logout{
        display:none;
    }
</style>
