
@{
    ViewBag.Title = "ChargeView";
}

<h1>Login - Portal</h1>
<hr />
<p>Insira seu usuário e senha abaixo:</p>
<div class="input-group mb-3">
    Usuário:
    
</div>
<div style="color:red">
    @ViewBag.Error
</div>
<input type="button" class="btn btn-primary" style="margin-top: 10px;margin-left:10rem;" value="Entrar">

