
@{
    ViewBag.Title = "Scuad - Portal";
}

<h1>Portal</h1>
<hr />
@using (Html.BeginForm("Change", "Home"))
{
    <input type="submit" class="btn btn-primary" name="tela" style="margin-top: 10px;margin-left:5rem;" value="Cargos">
    <input type="submit" class="btn btn-primary" name="tela" style="margin-top: 10px;margin-left:5rem;" value="Usuários">
}
