@{
    ViewBag.Title = "Scad - Portal";
}

@model Scuad.Models.Users
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
        {
            <h1>Login - Portal</h1>
            <hr />
            <p>Insira seu usuário e senha abaixo:</p>
            <div class="input-group mb-3">
                Usuário:
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div class="input-group mb-3" style="margin-top: 10px; margin-left:7px;">
                Senha:
                @Html.TextBoxFor(model => model.Password)
            </div>
            <div style="color:red">
                @ViewBag.Error
            </div>
            <input type="button" class="btn btn-primary" onclick="" style="margin-top: 10px;margin-left:10rem;" value="Entrar">
        }
